/* global.css */

:root {

    /* Color Variables */
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #ffffff;
    --text-color: #343a40;
    --card-background: #f8f9fa;
  
    /* Typography Variables */
    --font-family: 'Arial', sans-serif;
    --font-size-base: 16px;
    --font-size-lg: 1.25rem; /* 20px */
    --font-size-sm: 0.875rem; /* 14px */
  
    /* Spacing Variables */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  /* Light Theme */
.light {
  color-scheme: light;
  background-color: white;
  color: black;
}

/* Dark Theme */
.dark {
  color-scheme: dark;
  background-color: #121212; /* Dark background */
  color: white; /* Light text */
}

  /* Global Styles */
  body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Typography */
  h1 {
    font-size: var(--font-size-lg);
  }
  
  h2 {
    font-size: var(--font-size-lg);
  }
  
  p {
    margin-bottom: var(--spacing-md);
  }
  